<div>
  <ul class="list-group">
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <div>
          <%= link_to like_post_path(post), method: :put do %>
            <%= fa_icon "sort-up" %>
          <% end %>
          <%= link_to dislike_post_path(post), method: :put do %>
            <%= fa_icon "sort-down" %>
          <% end %>
          <%= post.votes_for.size %>
          <%= link_to post.title, post %> -
          <%= link_to post.url, target: "_blank" %>
          <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post), class: "pull-right" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
          <% end %>        
        </div>
        <small>By <%= post.user.email %> <%= time_ago_in_words(post.created_at) %></small>

      </li>
    <% end %>
  </ul>
</div>