<p id="notice"><%= notice %></p>

<%= @post.votes_for.size %>
<%= link_to like_post_path(@post), method: :put do %>
  <%= fa_icon "sort-up fa-stack-1x" %>
<% end %>
<%= link_to dislike_post_path(@post), method: :put do %>
  <%= fa_icon "sort-down fa-stack-1x" %>
<% end %>
  <%= @post.title %> - <small>(<%= link_to @post.url, target: "_blank" %>)</small>
<p>
 <small>By <%= @post.user.email %> <%= time_ago_in_words(@post.created_at) %> ago  -  <%= link_to "#{@post.comments.count} comments", @post %></small>
</p>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
<div class="my-3">
  <%= simple_form_for [@post, Comment.new] do |f| %>
    <%= f.text_area :comment_text, class: 'form-control' %>
    <%= f.submit "Add Comment", class: 'my-2' %>
  <% end %>
</div>

<%= render partial: @post.comments %>
